/****************** Table Content ************************/
.table-content {
  width: fit-content;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 2rem;
  border-radius: 10px;
  background-color: $secondary-color;
  & thead {
    & th {
      padding: 10px;
      font-weight: bold;
      &.up {
        background-image: url('../assets/images/up_arrow.png');
      }
      &.down {
        background-image: url('../assets/images/down_arrow.png');
      }
      &.default {
        background-image: url('../assets/images/default.png');
      }
      &.up,
      &.default,
      &.down {
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center right;
        padding-right: 20px;
      }
    }
  }
}

/****************** Media Query ************************/
@media (max-width: 770px) {
  .table-content {
    max-width: 650px;
  }
}
