/****************** Table Content ************************/
.table-content {
  width: fit-content;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 2rem;
  border-radius: 10px;
  background-color: $secondary-color;
  & thead {
    & td {
      padding: 10px;
      font-weight: bold;
    }
  }
}

/****************** Media Query ************************/
@media (max-width: 770px) {
  .table-content {
    max-width: 650px;
  }
}
